
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/Header.css */
.container {
    max-width: 1200px;  /* Fixed max width */
    margin: 0 auto;     /* Center the container */
    padding: 0 20px;    /* Horizontal padding */
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
  
  }
  
:root {
    /* Colors */
    --black: #000;
    /* Light Theme */
    --primary-gradient: linear-gradient(166.9deg, #0ae448 53.19%, #0085d0 107.69%);
    --background-light: #FFFBFF;
    /* //body background */
    --body-background-dark: #0a192f;
    --body-background-light: #f5f5f7;
    --card-background-dark: #112240;
    --card-background-light: #2b85c412;
    --background-dark: #121212;
    --on-background-dark: #EDE0DB;
    --surface-dark: #181210;
    --on-surface-dark: #D0C4BF;
    --font-primary: 'Kumbh Sans', sans-serif;
  
    /* Font size */
    --fs-base: 62.5%;
    --fs-display-large: 5.7rem;
    --fs-display-medium: 4rem;
    --fs-display-small: 3rem;
    --fs-headline-large: 3.2rem;
    --fs-headline-medium: 2.8rem;
    --fs-headline-small: 2.4rem;
    --fs-body-medium: 1.6rem;

  
    /* Line height */
    --lh-base: 20px;
    --lh-display-large: 64px;
    --lh-display-medium: 52px;
    --lh-display-small: 40px;
  
    /* Font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;
  }

  .primary-gradient {
    background: linear-gradient(166.9deg, #0ae448 53.19%, #0085d0 107.69%);
    color: white;
    border: none;
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  
  [data-theme="light"] {
    color-scheme: light;
    --body-background: var(--body-background-light);
    --background: var(--background-light);
    --card-background: var(--card-background-light);
  }
  
  
  [data-theme="dark"] {
    color-scheme: dark;
    --body-background: var(--body-background-dark);
    --background: var(--background-dark);
    --on-background: var(--on-background-dark);
    --card-background: var(--card-background-dark);
    /* --social-icon-bg: var(--card-background-dark); */
    .nav__wrapper ul a:hover {
      background-color: var(--card-background);
    }
  }
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *::before,
  *::after, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  a,
  img,
  span,
  input,
  button,
  textarea {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    height: auto;
  }
  
  input,textarea,button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input,textarea {
    width: 100%;
  }
  
  input,textarea,[contenteditable = "true"] {
    outline: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  :where(input,textarea)::placeholder {
    color: currentColor;
  }
  
  button:disabled {
    pointer-events: none;
  }
  
  
  html {
    font-family: var(--font-primary);
    font-size: var(--fs-base);
    scroll-behavior: smooth;
    line-height: var(--lh-base);
    -webkit-tap-highlight-color: transparent;
    
  }
  
  body {
    background-color: var(--body-background);
    color: var(--on-background);
    font-size: var(--fs-body-medium);
    line-height: var(--lh-base);
  }
 
  
  
  
  /*-----------------------------------*\
    #TYPOGRAPHY
  \*-----------------------------------*/
  
  .text-display-large {
    font-size: var(--fs-display-large);
    line-height: var(--lh-display-large);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls-n-025);
  }
  
  .text-display-medium {
    font-size: var(--fs-display-medium);
    line-height: var(--lh-display-medium);
    font-weight: var(--fw-regular);
  }
  
  
  .text-display-small {
    font-size: var(--fs-display-small);
    line-height: var(--lh-display-small);
    font-weight: var(--fw-bold);
  }
  
  @media (prefers-color-scheme: dark) {
    svg{
      background: #753;
      color: #dcb;
      outline: 5px dashed #000;
    }
  }


  /* styles */
  h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    line-height: 1.1;
}

.big-heading {
  font-size: clamp(40px, 8vw, 70px);
}



@media screen and (max-width:767px){
  .container {
    padding: 0 15px;
  }

  .text-display-large  {
    font-size: var(--fs-display-medium);
    line-height: 1.3;
  }
  .text-display-small {
    font-size: 2rem;
    line-height: 1.5;
  }
}

@media screen and (max-width:640px){
  .text-display-large  {
    font-size: var(--fs-display-small);
    line-height: 1.3;
  }
  .text-display-small {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .hero__btn a{
      width: 100%;
      justify-content: center;
  }
}